{{ define "id" -}}
{{ template "inc_head" . -}}

<h2>
    {{ GjsonGet .Properties "wof:name" }}
</h2>

<whosonfirst-map id="{{ .Id }}">
    {{ if (IsAvailable "URIs" .) }}<img src="{{ .URIs.SVG }}/{{ .Id }}" id="map-svg" />{{ end }}
    <div id="map" data-wof-id="{{ .Id }}"></div>
    <p>NAME is a PLACETYPE and its consensus geometry is derived from SOURCE.</p>
</whosonfirst-map>

<div class="whosonfirst-record">
    <div>
	<h3>Properties

	    <div id="props-toggle" class="pull-right">
		<button class="btn btn-sm" id="props-toggle-raw">view raw</button>
		<button class="btn btn-sm" id="props-toggle-pretty">make pretty</button>
	    </div>
	</h3>
	<div id="props-wrapper" class="table-responsive">
	<whosonfirst-properties>
	    <pre id="whosonfirst-properties">{{ .Properties }}</pre>
	</whosonfirst-properties>
	</div>
    </div>
    <div>
	<h3>Hierarchy</h3>
	<ul></ul>

	<h3>Other</h3>
	<ul>
            {{ if (IsAvailable "URIs" .) }}<li><a href="{{ .URIs.Descendants }}/{{ .Id }}">See all the descendants of {{ GjsonGet .Properties "wof:name" }}</a></li>{{ end }}
	    {{ if (IsAvailable "URIs" .) }}<li><a href="{{ .URIs.GeoJSON }}/{{ .Id }}">Raw data (GeoJSON)</a></li>{{ end }}
	    <li><a href="https://github.com/whosonfirst-data/{{ GjsonGet .Properties "wof:repo" }}/FIXME">View on GitHub</a></li>
	    <li><a href="https://writefield.nextzen.org/place/edit?url=FIX ME">Edit in Write Field</a></li>
	</ul>
    </div>
</div>

{{ template "inc_foot" . -}}

<script type="text/javascript" src="{{ .URIs.Static }}javascript/whosonfirst.spelunker.id.init.js"></script>
{{ end -}}
